.side {
  display: block;
  width: 20%;
  padding: 20px;
  color: #eec7c6;
  background-color: white;
}

.side li {
  font-weight: 600;
  padding: 3px 0;
}

@media screen and (max-width: 1000px) {
  .side {
    display: none;
  }
}
