.wrap {
  display: flex;
  width: inherit;
  flex-direction: column;
  margin: 0;
  border-right: 1px solid #ddd;
}

.main {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 50px 20px;
  overflow: hidden;
}

.twitList {
  display: flex;
  flex-direction: column-reverse;
}
