.wrap {
  display: flex;
  width: inherit;
  flex-direction: column;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 60px 20px;
  overflow: hidden;
}

.twitList {
  display: flex;
  flex-direction: column-reverse;
}
