.home {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main {
  height: inherit;
  width: 600px;
}

@media screen and (max-width: 850px) {
  .main {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 90%;
  }
}
