.header {
  width: 20%;
  height: inherit;
  background-color: #f3f3ee;
  position: relative;
}

.headerWrap {
  /* justify-content: flex-end; */
  width: inherit;
  height: inherit;
  position: fixed;
  background-color: white;
  border-right: 1px solid #ddd;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.logo {
  margin: 10px;
  width: 48px;
  height: 48px;
}

.headerList .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px;
  transition: 250ms;
}

.headerList .btn:hover {
  cursor: pointer;
  background-color: #f3f3ee;
}

.btn,
.icon {
  color: #eec7c6;
}

.icon {
  width: 28px;
  height: 28px;
  margin: 0 16px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  padding: 10px;
  width: 100%;
  /* background-color: white; */
  position: absolute;
}

.profileImg {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .text {
  font-size: 0.9rem;
  font-weight: 600;
}
