.header {
  width: 20%;
  height: inherit;
  background-color: #f3f3ee;
  position: relative;
}

.headerWrap {
  /* justify-content: flex-end; */
  width: inherit;
  height: inherit;
  position: fixed;
  background-color: white;
  border-right: 1px solid #ddd;
}

.headerWrap ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.logo {
  margin: 10px 0;
  width: 48px;
  height: 48px;
}

.headerList .btn {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px;
  /* transition: 250ms; */
}

.headerList .btn:hover {
  cursor: pointer;
  background-color: #f3f3ee;
}

.btn,
.icon {
  color: #eec7c6;
  transition: 250ms;
}

.icon {
  width: 28px;
  height: 28px;
  margin: 0 16px;
}

@media screen and (max-width: 1100px) {
  .txt {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .btn,
  .icon {
    z-index: 10;
  }
  .header {
    position: fixed;
    width: 100vw;
    height: 50px;
    right: 0px;
    top: 0;
    z-index: 10;
    background-color: inherit;
  }
  .headerWrap {
    width: 100vw;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: inherit;
  }
  .headerWrap ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
  }
  .headerList .btn,
  .headerList .icon {
    color: white;
  }

  .headerList .btn {
    padding: 5px;
    margin-top: 5px;
  }

  .profile .profileImg,
  .profile .contents {
    display: none;
  }

  .profile .btn {
    display: block;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    top: -3px;
    right: 10px;
    z-index: 10;
  }
}
