.twit {
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #f3f3ee;
}

.profile {
  width: 48px;
  height: 100%;
}

.profileImg {
  width: 48px;
  object-fit: contain;
}

.twitForm {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.contents {
  position: relative;
}

.contents .icon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.imgForm {
  width: 80%;
  margin: 10px auto;
  background-color: white;
}

.imgForm img {
  width: 100%;
  object-fit: contain;
}

.text {
  font-size: 1rem;
  padding: 10px 0;
}

.name {
  font-size: 1rem;
}

.serviceForm {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  position: relative;
}

.serviceForm .icon {
  width: 24px;
  height: 24px;
}

.serviceBtn,
.btn {
  border: none;
  background-color: transparent;
}

.icon {
  transition: 250ms;
  color: #ddd;
}

.icon.on {
  color: #eec7c6;
}

.icon:hover {
  cursor: pointer;
  color: #eec7c6;
  transform: scale(1.1);
}

.favor {
  margin: 0 10px;
}
